 <header class="default-header">
    <nav class="navbar navbar-expand-lg  navbar-light ">
      <div class="container">
        
        <img style="height:5rem;width:4rem;"src="/img/jnu.png" alt="" /></a>
        <h3 style="margin-left: .5rem;color:white;">JNU|SE</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="lnr lnr-menu"></span>
          <span class="navbar-toggler-icon"></span>

        </button>

          <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
          
          
          </ul>
        </div>
      </div>
      <%-include('SideNav.ejs')%>
    </nav>
    
  </header>