

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/fav.png" />
  <!-- Author Meta -->
  <meta name="author" content="colorlib" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Site Title -->
  <title>JNU|SE</title>

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
 
  <link rel="stylesheet" href="/css/font-awesome.min.css" />

   <link rel="stylesheet" href="/css/bootstrap.css" />

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
  <link href="/css/main.css" rel="stylesheet">
  
 
 

</head>

<body>
<div id="main">
  <!-- ================ Start Header Area ================= -->
  
 <%-include('AdminNav.ejs')%>
 
   <section class="banner-area" style="background: url('/img/home.png')" >
    <div class="container">
      
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 banner-right">
          <h1 class="text-white">
              Add Course
          </h1>
        </div>

      
      </div>

    </div>
  </section>
  <div class="card mx-5 my-5 px-5 py-5" style="min-height: 35vh;">
    <h1>Course Details</h1>
    <form id="main" class="form-horizontal" action="/admin/course" method="post" novalidate>
      <div style="margin-left:8rem;"  class="form-group row mb-0">
          <div class="col-sm-8 md-form px-0">
            <input id="email" class="form-control" type="number" name="_id">
            <label for="email" class="control-label">Semester</label>
          </div>
          <div class="col-sm-4 messages"></div>
      </div>
      <div style="margin-left:8rem;" class="form-group row mb-0">
        <div class="col-sm-8 md-form px-0">
          <input id="Enrolment NO." class="form-control" type="text" name="branch">
          <label for="Enrolment NO." class="control-label">Branch</label>
        </div>
        <div class="col-sm-4 messages"></div>
      </div>
      <div style="margin-left:8rem;" class="form-group row mb-0">
        <div class="col-sm-8 md-form px-0">
          <textarea  class="form-control"id="wsubject" name="wsubject" rows="4" cols="50" placeholder="Enter subjects separated by commas.Do no use space in subject's name or use _"></textarea>
          <label class="control-label" for="wsubject">Written Subjects</label>
        </div>
        <div class="col-sm-4 messages"></div>
      </div>
      <div  style="margin-left:8rem;"class="form-group row mb-0">
        <div class="col-sm-8 md-form px-0">
          <textarea class="form-control" id="psubject"name="psubject" rows="4" cols="50"></textarea>
          <label class="control-label" for="psubject">Practical Subjects</label>
        </div>
        <div class="col-sm-4 messages">
        </div>
      </div>

      <div style="margin-left:8rem;" class="form-group">
        <div class="text-center pt-3">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </div>
    </form>
  </div>
  </div>


  <!-- Optional libraries I am using in this tutorial -->
  
   

<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  
}
</script>
<script src="/js/jquery.nice-select.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/vendor/jquery-2.2.4.min.js"></script>

<script src="/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
crossorigin="anonymous"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/hexagons.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>

<script src="/js/main.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <!-- Core MDB elements -->
 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"> </script>
  <!-- Downloaded mdb.js file -->
  <script src="/js/mdb.min.js"></script>
  <!-- Library we are trying to use today -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>



  <script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script> 
  </body>
  </html>