 <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/admin/students">All Students</a>
          <a href="/admin/register">Register Student</a>
          <a href="/admin/ls">Add Marks</a>
          <a href="/admin/course">AddCourse</a>
          <a href="/admin/marks/edit">Edit Marks</a>
          <a href="/admin/list">All Admins</a>
          <a href="/admin/add/">Add Admin</a>
          <a href="/admin/event">Add Event</a>
          <a href="/admin/assignment">Add Assignment</a>



        </div>
      <div>
        <button class="btn btn-sm btn-warning"onclick="openNav()" aria-hidden="true">ClickMe</button>
      </div>