 <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/user/marks">Marks</a>
          <a href="/user/info">PersonalInfo</a>
          



        </div>
      <div>
        <button class="btn btn-sm btn-warning"onclick="openNav()" aria-hidden="true">ClickMe</button>
      </div>